.header {
    display: flex;
    align-items: center;
    width: 560px;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    font-size: 14px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.322);
}

.header ul {
    display: flex;
    align-items: center;

}

.header li {
    margin: 0 15px;
    color: white;
}

.header li a {
    color: white;
}