.header {
    display: flex;
    align-items: center;
    width: 550px;
    border: 1px solid black;
    padding: 32px 20px;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 14px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.322);
    justify-content: space-between;
}

.content-closeSesion {
    position: fixed;
    left: 10px;
    top: -100px;
    background: white;
    color: black;
    padding: 3px 5px;
    border-radius: 5px;
    transition: .2s;

    display: none;
}

.content-closeSesion-v {
    position: fixed;
    left: 8px;
    background: white;
    color: black;
    padding: 3px 5px;
    border: 2px solid rgba(255, 255, 255, 0.548);
    border-radius: 5px;
    transition: .2s;
    display: block;
    top: 114px;
}

.header ul {
    display: flex;
    align-items: center;

}

.header li {
    margin: 0 15px;
    color: white;
}

.header li a {
    color: white;
}

.image-icon-user {
    margin-top: 65px;
}

.image-icon-user>img {
    width: 80px;
    border-radius: 50%;
    border: 2px solid black;
    height: 80px;
}


@media (width <=650px) {
    .image-icon-user {
        margin-top: 10px;
    }

    .image-icon-user>img {
        width: 53px;
        border-radius: 50%;
        border: 2px solid black;
    }

    .content-closeSesion-v {
        position: fixed;
        left: 82px;
        background: white;
        color: black;
        padding: 3px 5px;
        border: 2px solid rgba(255, 255, 255, 0.548);
        border-radius: 5px;
        transition: .2s;
        display: block;
        top: 21px;
    }
}